<html>
<head>
<title>Arcade Machine Status</title>
</head>
<body>

<h1>Arcade Machine Status</h1>

<h2>Last updated: {{ last_update  }}</h2>

<h2>{% if pressing_buttons %}
Someone is pressing buttons but not playing anything.
{% else %}{% if playing %}
Someone is playing <span style="font-family: monospace">{{ current_game }}</span>.
{% else %}
The machine is idle.
{% endif %}{% endif %}</h2>


<h2>Total Play Time: {{ total_time }}</h2>

<h2>Top 10 Games by Total Time Played</h2>

<p>
<table>
<tr>
<th>Game</th>
<th>Time</th>
</tr>
{% for game in top_ten_by_total_time %}
<tr>
<td>{{ game.name }}</td>
<td>{{ game.time }}</td>
</tr>
{% endfor %}
</table>
</p>

<h2>Top 10 Games by Play Count</h2>

<p>
<table>
<tr>
<th>Game</th>
<th>Plays</th>
</tr>
{% for game in top_ten_by_plays %}
<tr>
<td>{{ game.name }}</td>
<td>{{ game.plays }}</td>
</tr>
{% endfor %}
</table>
</p>
</body>
</html>
